header {
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0px, 0px, 0px, 0px;
}

body {
    display: flex;
    flex-flow: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(37, 37, 37);
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 5vw;
    width: 80%;
    height: 100%;
    margin-bottom: 0%;
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#toprightlogout {
    display: flex;
    height: 6.5%;
    min-height: 2vw;
    max-height: 5vw;
    width: 14%;
    flex-direction: column;
    justify-content: center;
    background: none;
    border: 0.1em solid white;
    margin-top: 2%;
    /*position*/
    position: relative;
    top: -10vw;
    right: -84vw;
}



#toprightname {
    display: flex;
    height: 6.5%;
    min-height: 2vw;
    max-height: 5vw;
    width: 14%;
    justify-content: center;
    background: none;
    border: 0.1em solid transparent;
    /*position*/
    position: relative;
    top: -10vw;
    right: -84vw;
}

h3 {
    display: flex;
    margin: 0% 1% 3% 0%;
}

#currentpro {
    display: flex;
    margin-top: 0%;
    background: none;
    border: 0.1em solid white;
    padding: 1% 1% 1% 1%;
    flex-direction: column;
    justify-content: flex-start;
}

#listcurpro {
    display: flex;
    background: none;
    flex-direction: column;
    justify-content: flex-start;
}

#prevpro {
    display: flex;
    margin-top: 5%;
    background: none;
    border: 0.1em solid white;
    padding: 1% 1% 1% 1%;
    flex-direction: column;
    justify-content: flex-start;
}

#listprevpro {
    display: flex;
    background: none;
    flex-direction: column;
    justify-content: flex-start;
}

dl {
    width: max-content;
}