header {
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0px, 0px, 0px, 0px;
}

body {
    display: flex;
    flex-flow: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(37, 37, 37);
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 5vw;
    width: 80%;
    height: 100%;
    margin-bottom: 0%;
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#toprightlogout {
    display: flex;
    height: 6.5%;
    min-height: 2vw;
    max-height: 5vw;
    width: 14%;
    flex-direction: column;
    justify-content: center;
    background: none;
    border: 0.1em solid white;
    margin-top: 2%;
    /*position*/
    position: relative;
    top: -10vw;
    right: -84vw;
}

#createnewprojectbtn{
    display: flex;
    height: 6.5%;
    min-height: 2vw;
    max-height: 5vw;
    width:100%;
    flex-direction: column;
    justify-content: center;
    background: none;
    border: 0.1em solid white;
    margin-top: 2%;
    /*position*/
    position: relative;
    top: -1.5vw;
}

#toprightname {
    display: flex;
    height: 6.5%;
    min-height: 2vw;
    max-height: 5vw;
    width: 14%;
    justify-content: center;
    background: none;
    border: 0.1em solid transparent;
    /*position*/
    position: relative;
    top: -10vw;
    right: -84vw;
}

h3 {
    display: flex;
    margin: 0% 1% 3% 0%;
}

.grid-container-all {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
}

.grid-container-sceneoverview {
    display: grid;
    width: 40%;
    grid-template-columns: 1fr;
    margin-right: 5%;
}

.grid-container-project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.sceneoverview {
    display: flex;
    margin-top: 0%;
    background: none;
    border: 0.1em solid white;
    padding: 1% 1% 1% 1%;
    flex-direction: column;
    justify-content: flex-start;
}

.projectname {
    display: flex;
    margin-top: 0%;
    background: none;
    border: 0.1em solid white;
    padding: 1% 1% 1% 1%;
}

.projectnumber {
    display: flex;
    margin-top: 0%;
    background: none;
    border: 0.1em solid white;
    padding: 1% 1% 1% 1%;
}

.date {
    display: flex;
    margin-top: 0%;
    background: none;
    border: 0.1em solid white;
    padding: 1% 1% 1% 1%;
}

dl {
    width: max-content;
}